$color-navy: rgb(37,54,75);
$color-footer: rgb(5,97,108);
$color-medium: rgb(0,146,145);
$color-light: rgb(87,188,179);
$color-background: rgb(232, 244, 244);
$color-white: white;
$color-recent: rgb(208, 219, 101);