@use 'typography.scss';
@use 'colors.scss';

@mixin input{
    background-color: colors.$color-background;
    color: colors.$color-navy;
    border: none;
    border-radius: 20px;
    padding: 5px;

    &::placeholder{
        text-indent: 10px;
        color: colors.$color-light
    }
}

@mixin input-contact{
    background-color: transparent;
    color: colors.$color-recent;
    border: solid 1px colors.$color-recent;
    padding: 5px;

    &::placeholder{
        text-indent: 10px;
        color: colors.$color-light;
    }
}

@mixin button{
    background-color: colors.$color-medium;
    color: white;
    border-radius: 20px;
    border: none;
    margin: 20px 3% 0;
    width: 94%;
    padding: 5px;

    &:hover{
        transition: ease-in-out 0.3s;
        background-color: colors.$color-light;
    }
}

@mixin button-contact{
    background-color: colors.$color-recent;
    color: colors.$color-navy;
    border-radius: 0;
    width: 94%;
    padding: 5px;

    &:hover{
        transition: ease-in-out 0.3s;
        background-color: transparent;
        color: colors.$color-recent;
        border: solid 1px colors.$color-recent;
    }
}

@mixin shadow{
    -webkit-box-shadow: 1px 1px 3px 0px colors.$color-navy;
    -moz-box-shadow: 1px 1px 3px 0px colors.$color-navy;
    box-shadow: 1px 1px 3px 0px colors.$color-navy;
}

@mixin white-box{
    max-width: 1200px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto 15px;
}

/* lista zawodników i eventów */
@mixin table-list{
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    thead{

        th{
            background-color: colors.$color-footer;
            color: white;
            font-weight: typography.$font-weight-regular;
            padding: 5px; 

            &:nth-child(1){  
                width: 20px;
            }

            &:nth-child(3){                                    
                @media only screen and (max-width: 575px) {
                    display: none;
                    max-width: 200px;
                }
            }

            &:nth-child(4){
                text-align: center;
                width: 50px;
            } 
        }
    }

    tbody{
        color: colors.$color-navy;

        tr{
            border-bottom: 1px solid colors.$color-light;

            td{
                font-weight: typography.$font-weight-regular;
                padding: 5px;

                i{
                    color: colors.$color-medium;
                }

                .rotate-icon{
                    transform: rotate(180deg);
                    transition: transform 0.3s ease;
                }

                &:nth-child(2){
                    font-weight: 400;
                }

                &:nth-child(3){                                    
                    @media only screen and (max-width: 575px) {
                        display: none
                    }
                }

                &:nth-child(4){
                    text-align: center;
                    width: 50px;
                }
            }
        }    
    }
}

/* szukanie i dodawanie eventów i zawodników */
@mixin category-nav {
    .category-nav{

        .form-group{
            margin-bottom: 15px;
        }

        input{
            text-indent: 10px;
            width: 100%;
            @include input;
        }

        .edit-event{
            background-color: white;
        }

        input[type="date"]{
            text-indent: 10px;
            color: colors.$color-light;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            margin-right: 20px;
        }

        .icon{
            color: colors.$color-medium;
            font-size: 25px;
            text-align: right;
        }

        .input-wrapper {
            position: relative
        }

        .val-icon {
            position: absolute;
            right: 5px;
            top: 9px;
        }
    }
}

/* szczegóły eventów i profile zawodników */
@mixin more-details {

    .more-details{

        .info-container{
            position: relative;
            background-color: colors.$color-background;
            border-radius: 10px;
            padding: 10px;
            margin: 0 auto 15px;

            .info-card{
                margin: 0;

                
                
                .row{
                    display: flex;
                    align-items: center;

                    @include roster;

                    h1{
                        margin-bottom: 10px;
                    }

                    .icons{
                        margin-top: 5px;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                    }

                    .icons-text{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                    }

                    i{
                        
                        margin: 0 5px 13px 0;
                        font-size: 12px;
                        color: colors.$color-navy;
                    }
                    
                    hr{
                        margin-top: 10px;
                    }

                    h3{

                        b{
                            font-weight: typography.$font-weight-h1;
                        }

                        span{
                            color: colors.$color-medium
                        }

                        i{
                            margin-left: 5px;
                            font-size: 15px;
                        }
                    }

                    .fa-user-plus{
                        color: colors.$color-medium;
                    }

                    p{
                        margin: 5px 0;
                        padding: 0;
                    }

                    @include table-icon;
                }
            }

            .yes-no{
                h1{
                    text-align: center;
                }
            }
        }
    }
}

@mixin table-icon{
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: row;
        position: absolute;
        right: 20px;
        top: 40px;

        // @media only screen and (min-width: 447px) {
        //     top: 125px;
        // }

        li{
            list-style: none;
            display: inline;

            i{
                color: colors.$color-medium;
                font-size: 18px;
                margin-left: 25px;

                @media only screen and (min-width: 768px) {
                    margin-left: 45px;
                }
            }
        }
    }
}

@mixin roster{
    .roster{

        p{
            margin: 0;
        }

        label{
            margin-left: 20px;
        }

        input{
            margin-left: 10px;
        }
    }
}