@use 'typography.scss';
@use 'colors.scss';

@mixin input{
    background-color: colors.$color-background;
    color: colors.$color-navy;
    border: none;
    border-radius: 20px;
    padding: 5px;

    &::placeholder{
        text-indent: 10px;
        color: colors.$color-light
    }
}

@mixin button{
    background-color: colors.$color-medium;
    color: white;
    border-radius: 20px;
    border: none;
    margin: 20px 3% 0;
    width: 94%;
    padding: 5px;

    &:hover{
        transition: ease-in-out 0.3s;
        background-color: colors.$color-light;
    }
}

@mixin shadow{
    -webkit-box-shadow: 1px 1px 3px 0px colors.$color-navy;
    -moz-box-shadow: 1px 1px 3px 0px colors.$color-navy;
    box-shadow: 1px 1px 3px 0px colors.$color-navy;
}

@mixin white-box{
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

@mixin table{
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    thead{

        th{
            background-color: colors.$color-footer;
            color: white;
            font-weight: typography.$font-weight-regular;
            padding: 5px; 

            &:nth-child(1){  
                width: 20px;
            }

            &:nth-child(3){                                    
                @media only screen and (max-width: 575px) {
                    display: none;
                    max-width: 200px;
                }
            }

            &:nth-child(4){
                text-align: center;
                width: 50px;
            } 
        }
    }

    tbody{
        color: colors.$color-navy;

        tr{
            border-bottom: 1px solid colors.$color-light;

            td{
                font-weight: typography.$font-weight-regular;
                padding: 5px;

                i{
                    scale: 1.4;
                    color: colors.$color-medium;
                }

                .rotate-icon{
                    transform: rotate(180deg);
                    transition: transform 0.3s ease;
                }

                &:nth-child(2){
                    font-weight: 400;
                }

                &:nth-child(3){                                    
                    @media only screen and (max-width: 575px) {
                        display: none
                    }
                }

                &:nth-child(4){
                    text-align: center;
                    width: 50px;
                }
            }
        }    
    }
}

@mixin category-nav {
    .player-nav{

        .form-group{
            margin-bottom: 15px;
        }

        input{
            width: 100%;
            @include input;
        }

        input[type="date"]{
            text-indent: 10px;
            color: colors.$color-light;
        }

        .icon{
            color: colors.$color-medium;
            font-size: 25px;
            text-align: right;
        }

        .input-wrapper {
            position: relative
        }

        .val-icon {
            position: absolute;
            right: -20px;
            top: 9px;
        }
    }
}